@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/* BODY */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 117%; /* 21px */
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}
/* BUTTON */
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 180%; /* 36px */
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 50px;
  width: 376px;
  height: 52px;
  border: none;
}
.header-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 125%; /* 20px */
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 50px;
  width: 376px;
  height: 52px;
  border: none;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  margin-right: 70px;
}

.newsletter-button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: auto;
}
/* PAGES */
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.navigation-list {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  list-style-type: none;
}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 120%; /* 24px */
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}
.hero {
  color: #000000;
  background-color: #ffffff;
  /*  background-image: url("../images/index-background.jpg");*/
  background-image: url("../images/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: 23px;
}
.main-banner {
  text-align: center;
}
.welcome-words {
  margin-top: 28px;
  margin-bottom: 105px;
  margin-left: 371px;
  margin-right: 371px;
  width: auto;
  height: auto;
}
.advantages {
  margin-bottom: 21px;
  width: auto;
  height: auto;
}
.advantages-box {
  text-align: center;
}
.advantages-item {
  color: #000000;
}
/* Title */
.advantages-title, .welcome-title, booking-title, .newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 120%; /* 36px */
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.advantages-description {
  color: #333333;
}
.advantages-list-city, .advantages-list-square, .advantages-list-bridge, .welcome-advantages-list {
  display: flex;
  text-align: center;
  list-style-type: none;
  padding-top: 112.5px;
padding-bottom: 112.5px;
padding-left: 85px;
padding-right: 85px;
}
.advantages-item-city, .advantages-item-bridge {
  background-color: #82B3D3;
}
.advantages-item-square, .advantages-item-tourist, .welcome-advantages-item-blue {
  background-color: rgba(131, 179, 211, 12%)
}
.advantages-item-road {
  background-color: rgba(131, 179, 211, 20%)
}

.welcome {
  text-align: center;
}
.welcome-advantages-list {
  list-style-type: none;
}
.welcome-description, .booking-description, .newsletter-description, .advantages-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%; /* 26px */
  text-align: center;
}
.welcome-advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 117%; /* 28px */
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.welcome-advantages-description {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 117%; /* 21px */
  font-weight: 400;
  color: #000000;
}
.booking {
  text-align: center;
}
.booking-title {
  margin-top: 96px;
}
.booking-button {
  margin-top: 54px;
  margin-bottom: 96px;
}
.newsletter {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  display: flex;
flex-direction: column;
padding: 96px 258px 104px 258px;
}

.newsletter-form {
  width: auto;
  height: auto;
  display: flex;
}
.field {
  border-radius: 4px 0 0 4px;
  width: 452px;
  height: 52px;
  border: none;
  background: #F2F2F2;;
}

::placeholder {
opacity: 0.6;
line-height: 133%; /* 24px */
padding-top: 14px;
padding-bottom: 14px;
padding-left: 20px;
padding-right: 345px;
}
.footer-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 100%; /* 40px */
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header-filter {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 35px;
  margin-bottom: 50px;
}
.header-filter-title {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 60px;
  line-height: 130%; /* 78px */
  font-weight: 700;
}
.breadcrumbs {
  color: #ffffff;
}
.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 131%; /* 21px */
  font-weight: 400;
}
.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 120%; /* 26px */
  font-weight: 700;
}
.catalog-filter-list {
  color: #ffffff;
}
.control-input {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 128%; /* 23px */
  font-weight: 400;
}

/* такие параметры есть на другой странице, но там черный шрифт*/
.filter-price {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 120%; /* 26px */
  font-weight: 700;
}
fieldset {
  border-width: 0;
}
.set-price-min, .set-price-max {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 133%; /* 24px */
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
}
.set-price-min {
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 143px;
  height: 48px;
}
.set-price-max {
  border-radius: 0 4px 4px 0;
padding: 12px 20px;
width: 143px;
height: 48px;
  }

.price-from, .price-to {
  color: #000000;
  opacity: 0.3;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 133%; /* 24px */
  font-weight: 400;
}

.button-apply, .button-reset {
  background-color: #82B3D3;
  border-radius: 4px;
  width: auto;
  height: auto;
}
.filter-buttons {
  text-align: center;
}
.newsletter-hotels {
  color: #000000;
  display: flex;
  text-align: center;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 96px 258px 104px 258px;
}
.newsletter-hotels .newsletter-form {
  width: auto;
  height: auto;
  display: flex;
}

.newsletter-hotels-description {
  margin-bottom: 54px;
}
.social-item-youtube {
  background-image: url("../images/youtube.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}
.social-item-vk {
  background-image: url("../images/vk.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin-left: 12px;
  padding-right: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.social-item-telegram {
  background-image: url("../images/telegram.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
}
/* Link */
.pagination {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 8px;
}
.pagination-item {
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: table-cell;
  width: 60px;
height: 60px;
vertical-align: middle;
}

.pagination-item .page-none {
  background-color: #ffffff;
}
.pagination-link {
  color: #ffffff;
  font-size: 20px;
  line-height: 180%; /* 36px */
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}
.pagination-current {
  color: #000000;
  background: #F2F2F2;
}
.found {
  color: #000000;
  font-size: 30px;
  line-height: 120%; /* 36px */
  text-decoration: none;
  font-weight: 700;
}
.select-control {
  color: #000000;
  font-size: 18px;
  line-height: 117%; /* 21px */
  text-decoration: none;
  font-weight: 400;
  border: 2px solid #E5E5E5;
border-radius: 4px;
padding: 14px 20px;
width: 292px;
height: 49px;
}
.button-filter-checked {
  width: auto;
  height: auto;
  display: inline;
align-items: center;
justify-content: center;
gap: 10px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
}
.button-filter {
  width: auto;
  height: auto;
  display: inline;
align-items: center;
justify-content: center;
gap: 10px;
  background: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.hotel-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 117%; /* 28px */
  font-weight: 700;
  padding-bottom: 16px;
}
.show {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 70px;
margin-bottom: 40px;
}
.hotel-card-link {
  text-decoration: none;
}
.hotel-card-info {
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 25px;
padding-bottom: 16px;
}

.hotel-card {
display: flex;
flex-direction: column;
border: 1px solid #e6e6e6;
border-radius: 4px;
padding: 20px;
margin-bottom: 20px;
}

.hotel-card-info .price {
  text-align: right;
}

.hotel-info-button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 16px;
}
.rating {
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 20px;
padding-bottom: 20px;
margin-bottom: 20px;
}
.button-favorites {
background-color: #82B3D3;
width: 140px;
height: 36px;
display: flex;
}
.button-more {
  width: 140px;
  height: auto;
  display: block;
  }
.button-rating {
color: #000000;
background-color: #F2F2F2;
border-radius: 4px;
width: 140px;
height: auto;
font-size: 16px;
line-height: 125%; /* 20px */
text-transform: uppercase;
text-align: center;
font-weight: 400;
}
.button-favorites {
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 8px 50px;
  width: auto;
  height: auto;
  display: flex;
  }
  .button-favorites-done {
    background-color: #7DB54F;
    border-radius: 4px;
    padding: 8px 50px;
    width: auto;
    height: auto;
    display: flex;
    }
    .social-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    list-style-type: none;
  }
  .social-item-telegram, .social-item-vk, .social-item-youtube {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
